<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body style="display: flex; flex-direction: column; padding: 30px">
    <h1 style="margin: auto">WINNING HORSE</h1>
    <form method="post" style="margin: 30px auto auto;">
        <fieldset style="display: flex; flex-direction: column">
            <legend style="font-size: xx-large">
                Admin Login
            </legend>

            {% for field, errors in form.errors.items() %}
                <p>
                  {{ ''.join(errors) }}
                </p>
            {% endfor %}

            {{ form.csrf_token }}
            {{form.username.label()}}
            {{form.username(style="width: 50%; min-width: 200px")}}

            {{form.password.label()}}
            {{form.password(style="width: 50%; min-width: 200px")}}

            {{form.submit(style="width: 25%; align-self: end; margin-top: 20px")}}
        </fieldset>
    </form>
</body>
</html>